* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/imag/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;


}



.uname {
    padding-top: 10%;

    font-size: 30px;

}

input {
    padding-top: 5px;
    margin: 0 auto;
    display: block;

    width: 180px;
    border-radius: 4px;
    border: blue;

}


.password {

    font-size: 30px;
    padding-top: 10%;
    display: block;

}

.uname::first-letter {
    color: white;
    font-size: 40px;
    display: block;
}

.password::first-letter {
    color: white;
    font-size: 40px;
}



.fieldset {

    width: 300px;
    height: 400px;


}

.container {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;

}



form {
    width: 300px;
    margin: auto;
    text-align: center;

}

@media only screen and (max-width: 600px) {
    form {
        padding: 20px;
        width: 300px;
    }

}

@media screen and (max-width: 900px) and (min-width: 601px) {

    form {
        padding: 20px;
        width: 300px;
    }

}


.submit {
    margin-left: 90px;
    margin-top: 20px;

    padding-right: 10%;
    padding-left: 30px;
    padding-top: 1px;
    width: 120px;
    height: 40px;

    background: rgb(160, 29, 142);
    border-radius: 30px;

}



ul {

    background: hwb(327 12% 47%);
    padding-top: 15px;
    padding-bottom: 15px;


}

ul li {
    margin-left: 3%;
    padding-right: 20px;
    color: black;
    display: inline;
}


a {
    color: black;
    font-size: 20px;
}



.foot {

    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    
}